body {
  margin: 0;
  font-family: $font-family-sans-serif;
  background-color: $llava-bg;
}

header, footer {
  background-color: $llava-corporate;
  color: white;
}

a {
  text-decoration: none;
  color: white
}

a:hover {
  text-decoration: none;
  color: white
}

.body {
  max-width: 1264px;
  margin: auto;
}

//============================//
//LOGO
//============================//
.logo__img {
  height: 32px;
  width: 22px;
}

//============================//
//Social links
//============================//
.social__img {
  height: 22px;
  width: 22px;
}

.social__img--facebook {
  height: 29px;
  width: 29px;
}

//============================//
//Info Row (Header and footer row)
//============================//
.info-row__link {
  color: white;
}

.info-row__link:hover .info-row__text{
  color: white;
  border-bottom: #ffd199 solid 4px;
}

.info-row__link--selected .info-row__text,
.info-row__link--selected:hover .info-row__text{
  border-bottom: darkorange solid 4px;
}


//============================//
// GRID CSS Home Page
//============================//

.grid-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.grid-item {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 4px;
}

@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    grid-auto-flow: dense;
    flex-wrap: unset;
    overflow: unset;
    align-items: unset;
    justify-content: unset;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    position: relative;
    padding: unset;
    width: unset;
    display: unset;
    flex-direction: unset;
  }

  .grid-item__info {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    color: white;
  }

  .grid-item__info--grey {
    background-color: rgba(0,0,0,0.8);

  }

  .grid-item:hover .grid-item__info--hovershow {
    display: block;
  }

  .grid-item__info--middletext {
    bottom: 0;
  }

  @media screen and (min-width: 520px) {
    .grid-item--double {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

.grid-item__info--hovershow {
  display: none;
}

.grid-item__image {
  width: 100%;
}



//============================//
// FLEX CSS BANDS Page
//============================//

.flex-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.flex-container--column {
  flex-direction: column;
}

.flex-item {
  width: 200px;
}

.flex-item__image {
  width: 100%;
}

.flex-item--bordered {
  background-color: white;
  border: 2px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


//============================//
// BLOG Page
//============================//

.blob__image--header {
  width: 100%;
}


.famous-list {
  padding-left: 32px;
}

.famous-list li{
  list-style: none;
}

.famous-list__person::before{
  content: '';
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-size: 32px;
}

.famous-list__person--benedict::before{
  background-image: url('./../images/benedict.jpg');
}


.famous-list__person--pierre::before{
  background-image: url('./../images/pierreoriola.jpeg');
}

.famous-list__person--nia::before{
  background-image: url('./../images/nia.jpg');
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
