body {
  margin: 0;
}


.box1 {background:red}
.box2 {background:blue}
.box3 {background:orange}
.box4 {background:yellow}
.box5 {background:purple}
.box6 {background:black}
.box7 {background:green}
.box8 {background:brown}
.box9 {background:pink}
.box10 {background:darkorange}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  border: 10px solid black;

}

.box9{
  grid-column: span 2;
}

.box {


}

